<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Casa Ideas - Paypal</title>
</head>
<body>
  <div class="paypal-container">

    <div class="casaideas-image">
      <img src="assets/img/casa_ideas.webp" alt="Image not found">
    </div>

    <h1 class="title text-center">Casa Ideas Historial Compras</h1>

    <div class="row">
      <div class="col-8 separation">

        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">PaypalOrderID</th>
              <th scope="col">Amount</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of orders">
              <th scope="row">{{ order.id }}</th>
              <td>{{ order.paypalOrderId }}</td>
              <td>{{ order.amount | currency: 'MXN' }}</td>
              <td>{{ order.paypalOrderStatus }}</td>
            </tr>
          </tbody>
        </table>

      </div>
      <div class="col-4">
        <div id="paypal-button-container" class="paypal-button-container"></div>
      </div>
    </div>
  </div>
</body>
</html>
